<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme Display</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <style>
        body {
            text-align: center;
        }

        h1 {
            font-family: 'Franklin Gothic Medium';
        }
    </style>
</head>
<body>
    <h1>Random Meme from Reddit</h1>
    <img src="{{meme}}" alt="Meme">
    <p>Subreddit Link: <a href="{{postlink}}">{{postlink}}</a></p>
</body>
</html>